# General
ENV=development
PORT=8000
SERVER_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000

# Database
MONGO_DB_URL=mongodb://localhost:27017/<db_name>

# Migrations
MIGRATE_MONGO_URI=mongodb://localhost:27017/<db_name>
MIGRATE_AUTOSYNC="true"
